<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Nearest-hospital</title>
  </head>
  <body style="
background:
radial-gradient(transparent 20%, white 20%, white 80%, transparent 80%, transparent),
radial-gradient(transparent 20%, white 20%, white 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#ffd9e0 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #ffd9e0 8px, transparent 8px) -4px 0;
background-color: white;
background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
">

  <div class="m-5">
    <div class="card">
      <h5 class="text-center m-3"><strong>Szpitale COVID-19 w Twojej okolicy</strong></h5>
    </div>

    {% for hospital in hospitals %}

    <div class="card mx-auto mt-3 mb-3 shadow-sm">
      <div class="card-header">
        <p class="card-title">{{ hospital.name }}</p>
      </div>
      <div class="card-body">
        <p class="card-subtitle">
          <strong>ADRES:</strong> {{ hospital.address }} <br>
          <strong>RODZAJ PUNKTU:</strong> {{ hospital.point_type }} <br>
          <strong>ODLEGŁOŚĆ:</strong> {{ hospital.distance.km | floatformat:2 }} km
        </p>
      </div>
      <div class="card-footer">
        <span class="glyphicon glyphicon-phone"></span>
        <strong>TELEFON:</strong>
        {% for phone in hospital.phones_as_list %}
          <button class="btn btn-success"><p class="card-text">{{ phone }}</p></button>
        {% endfor %}
      </div>
    </div>

    {% endfor %}
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>